.DondeEncontrarme-page {
    min-height: 125vh;
    display: flex;
    width: 100%;
    position: relative;    
    z-index: -100;
    
    
    .text-container{
        min-height: 110vh;
        width: 90vw;
        margin: auto;
        text-align: center;
        color: #40877c;
        font-family: 'Libre Baskerville', serif;  
        
        .text-title{
            text-align: center;
            font-family: 'Oooh Baby', cursive;
            font-size: 60px;   
            letter-spacing: 2px;
        }
        
        .parragraphs {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            margin: 0 auto;
            justify-content: center;
            .icon{
                height: 5vh;
                display: block;
                margin: 15px auto;
                color: #6fa39b;
            }
            
            .ph {
                flex: 0 0 33.333333%;    
                width: 15%;
                margin: 0 2.5%;
                text-align: justify;

                h3{
                    min-height: 10vh;
                }
            }
        }

        p {
            display: inline-block;
            line-height: 1.5;
            line-height: 2;
            font-size: 17px
        }
    }
}

@media (max-width: 768px){
    .DondeEncontrarme-page {
        height: 100%;
        .text-container{
            .text-title{
                font-size: 40px;
            }
            .parragraphs{
                .ph{
                    flex: 0 0 100%; 
                    width: 100%;
                    text-align: justify;
                    h3{
                        font-size: 17px;
                    }
                }
            }
        }

    }   
}